body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0
}
body{
	font-family: "helvetica neue",arial,sans-serif;
	font-size: 14px;
	color: #444;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
#page{
	background-color: #fff;
	min-width: 1024px;
}
/*head-box*/
.head-box{
	position: relative;
	background-image: url(../img/test.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.nav-bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 48px;
	/*background-color: #000;*/
}
.nav{
	width: 996px;
	height: 48px;
	margin: 0 auto;
	color: #fff;
	color: rgba(255,255,255,0.85);
	/*background-color: red;*/
}
@media screen and (min-width: 1520px) {
	.nav{
		width: 1500px;
	}
}
.left-bar{
	float: left;
}
.left-bar a{
	display: inline-block;
	line-height: 28px;
	margin: 10px 0 0 25px;
	color: #fff;
	color: rgba(255,255,255,0.85);
}
.right-bar{
	float: right;
}
.right-bar a{
	display: inline-block;
	font-size: 20px; 
	line-height: 30px;
	margin: 9px 15px 0 0;
	color: #fff;
	color: rgba(255,255,255,0.85);
}
/*header*/
.head-box .header{
	overflow: hidden;
	height: 500px;
}
.head-box .header .title{
	width: 540px;
	height: 50px;
	margin: 118px auto 40px;
	background-image: url(../img/head_title.png);
}
.head-box .header .search-box{
	text-align: center;
}
.head-box .header #query{
	width: 540px;
	height: 34px;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 2px;
	color: #fff;
	background: rgba(0,0,0,0.15);
	padding-left: 10px;
}
